{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container col-lg-9 col-sm-12">
    <h4>Привет, меня зовут Шкитский Юрий, и я автор этого сайта</h4>
    <br>
    <br>
    <p>
      {% load static %}
      <img src={% static 'img/Patrick.jpeg' %} width="20%" height="20%">
    </p>
    <br>
    <br>
    <p>
      Я студент, который мечтает заниматься любимым делом, для этого изучаю курс <b>Python-разработчика</b>.<br>
      Я верю, что этот сайт, это только начало моего длинного пути в web-разработке (фото выше, это отображение моего состояния в обучении на 30.07.2022г.)
    </p>
  </div>
{% endblock %} 